{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "xo-space",
    "plugin:solid/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "solid"
  ],
  "rules": {
    "capitalized-comments": ["off"],
    "object-curly-spacing": ["error", "always"]
  }
}
